body
{
	font-family: Verdana;
	margin: 0px;
}

h1
{
	text-align: center;
}

a
{
	color: white;
}

header
{
	background-color: black;
	color: white;
	font-size: 26px;
	margin: auto;
	max-width: 800px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	width: 90%;
}

section
{
	background-color: #6E8CCA;
	margin: auto;
	max-width: 800px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	width: 90%;
}
footer
{
	background-color: black;
	color: white;
	margin: auto;
	max-width: 800px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	width: 90%;
}