<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<title>APP Template by Jairo Ushiña</title>
</head>
<body>
	<header>
		<a href="https://github.com/jago86/slim-app-template"><i class="fa fa-github-square"></i></a>
		<a href=""><i class="fa fa-git-square"></i></a>
		<a href="https://twitter.com/rjairo"><i class="fa fa-twitter-square"></i></a>
		<a href="http://jairo.rocks/"><i class="fa fa-suitcase"></i></a>
		<a href="http://cv.jairo.rocks/"><i class="fa fa-link"></i></a>

	</header>
	<section>
		<h1>Hello World</h1>
		<article>
			<p>An app template using MVC. The packages included are: Slim Framework, Slim Views, Idiorm (ORM), Paris (PHP5 lightweight Active Record) and Twig. Feel free to use it as base for your projects. Install the packages trough Composer.</strong></p>
			<p>This is the test text from the route rendered to Twig template: <strong> {{ test_text }} </strong></p>
		</article>
	</section>
	<footer>
		<div>
			App template created by Jairo Ushiña (<a href="https://twitter.com/rjairo">@rjairo</a>).
		</div>
		<div>
		</div>

	</footer>
</body>
</html>